h2 {
  padding-bottom: 15px; }

body section .section-icons {
  padding-top: 30px;
  background-color: #3C463C;
  width: 100%;
  text-align: center; }
  body section .section-icons .icons-text {
    padding: 0px 200px 0px 200px;
    text-align: justify;
    text-indent: 2%; }
    body section .section-icons .icons-text .text-icon {
      font-size: 17px; }
  body section .section-icons .section-icon {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center; }
    body section .section-icons .section-icon p {
      margin-top: 30px; }
  body section .section-icons .img2, body section .section-icons .img4, body section .section-icons .img6, body section .section-icons .img8 {
    margin-left: -4px; }

body section .section-creature {
  padding: 30px 200px 30px 200px;
  background-color: #C4BFA5;
  width: 100%;
  text-align: justify;
  text-indent: 2%; }
  body section .section-creature h2 {
    font-size: 21px; }
  body section .section-creature p {
    padding-bottom: 15px; }
  body section .section-creature .creature-image {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center; }
    body section .section-creature .creature-image span {
      font-size: 15px; }
  body section .section-creature .img2, body section .section-creature .img4 {
    margin-left: -3%; }

body section .section-spelling {
  padding: 30px 200px 30px 200px;
  background-color: #3C3C3C;
  width: 100%;
  text-indent: 2%;
  text-align: justify; }
  body section .section-spelling h2 {
    font-size: 21px;
    color: #D2B48C; }
  body section .section-spelling span {
    color: #D2B48C; }
  body section .section-spelling iframe {
    display: block;
    margin: 0px auto; }

body section .section-styles {
  padding: 30px 200px 0px 200px;
  background-color: #C4BFA5;
  width: 100%;
  text-indent: 2%;
  text-align: justify; }
  body section .section-styles p {
    padding-bottom: 15px; }
  body section .section-styles h2 {
    font-size: 21px; }
  body section .section-styles .athos-style-group1 .group1 {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center; }
  body section .section-styles .athos-style-group1 .img1 img {
    height: 400px !important; }
  body section .section-styles .athos-style-group1 .img2 {
    margin-left: -3%; }
  body section .section-styles .athos-style-group2 {
    text-align: center; }
    body section .section-styles .athos-style-group2 .group2 {
      width: 33.3333%;
      vertical-align: top;
      display: inline-block; }
      body section .section-styles .athos-style-group2 .group2 img {
        display: block;
        margin: 0px auto;
        height: 300px !important; }
    body section .section-styles .athos-style-group2 .img2, body section .section-styles .athos-style-group2 .img3 {
      margin-left: -2%; }
  body section .section-styles .academic-style-group1 .group1 {
    width: 33.3333%;
    vertical-align: top;
    display: inline-block;
    text-align: center; }
    body section .section-styles .academic-style-group1 .group1 img {
      display: block;
      margin: 0px auto; }
  body section .section-styles .academic-style-group1 .img2, body section .section-styles .academic-style-group1 .img3 {
    margin-left: -2%; }
  body section .section-styles .academic-style-group2 .group2 {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center; }
  body section .section-styles .academic-style-group2 .img2 {
    margin-left: -3%; }
  body section .section-styles .athos-style-group1 span, body section .section-styles .athos-style-group2 span, body section .section-styles .academic-style-group1 span, body section .section-styles .academic-style-group2 span {
    font-size: 15px; }

@media only screen and (max-width: 1500px) {
  body section .section-icons .icons-text {
    padding: 0px 100px 0px 100px; }
  body section .section-creature {
    padding: 20px 100px 20px 100px; }
  body section .section-spelling {
    padding: 20px 100px 20px 100px; }
  body section .section-styles {
    padding: 20px 100px 0px 100px; }
    body section .section-styles .academic-style-group2 .group2 {
      width: 100%;
      display: block; }
    body section .section-styles .academic-style-group2 .img2 {
      margin-left: 0px; } }

@media only screen and (max-width: 1200px) {
  body section .section-styles .academic-style-group1 .group1 {
    width: 100%;
    display: block; }
  body section .section-styles .academic-style-group1 .img2, body section .section-styles .academic-style-group1 .img3 {
    margin-left: 0px; }
  body section .section-creature .creature-image {
    width: 100%;
    display: block; }
    body section .section-creature .creature-image img {
      width: 300px !important; }
  body section .section-creature .img2, body section .section-creature .img4 {
    margin-left: 0px; } }

@media only screen and (max-width: 992px) {
  body section .section-icons .section-icon img {
    width: 300px !important;
    height: auto !important; }
  body section .section-icons .icons-text {
    padding: 0px 50px 0px 50px; }
  body section .section-creature {
    padding: 20px 50px 20px 50px; }
  body section .section-spelling {
    padding: 20px 50px 20px 50px; }
  body section .section-styles {
    padding: 20px 50px 0px 50px; }
    body section .section-styles .athos-style-group1 .group1 {
      width: 100%;
      display: block; }
    body section .section-styles .athos-style-group1 .img2 {
      margin-left: 0px; }
    body section .section-styles .athos-style-group2 .group2 img {
      height: 200px !important; } }

@media only screen and (max-width: 760px) {
  body section .section-icons .section-icon {
    width: 100%;
    display: block; }
  body section .section-icons .img2, body section .section-icons .img4, body section .section-icons .img6, body section .section-icons .img8 {
    margin-left: 0px; }
  body section .section-icons .icons-text {
    padding: 0px 25px 0px 25px; }
  body section .section-creature {
    padding: 10px 25px 10px 25px; }
  body section .section-spelling {
    padding: 10px 25px 10px 25px; }
    body section .section-spelling iframe {
      width: 300px !important; }
  body section .section-styles {
    padding: 10px 25px 0px 25px; }
    body section .section-styles .athos-style-group2 .group2 {
      padding-top: 10px;
      width: 100%;
      display: block; }
    body section .section-styles .athos-style-group2 .img2, body section .section-styles .athos-style-group2 .img3 {
      margin-left: 0px; }
    body section .section-styles .academic-style-group2 .group2 img {
      width: 300px; } }

@media only screen and (max-width: 420px) {
  body section .section-styles .athos-style-group1 .group1 img {
    width: 270px !important;
    height: auto !important; }
  body section .section-styles .academic-style-group1 .group1 img {
    width: 270px !important;
    height: auto !important; }
  body section .section-styles .academic-style-group2 .group2 img {
    width: 270px !important;
    height: auto !important; }
  body section .section-spelling iframe {
    width: 270px !important; }
  body section .section-creature .creature-image img {
    width: 270px !important; } }
