.steps {
  text-transform: none; }

p {
  padding-bottom: 15px; }

body section {
  padding: 30px 200px 0px 200px;
  background-color: #C4BFA5;
  text-align: justify;
  text-indent: 2%; }
  body section .section-make .wood-iconostases, body section .section-make .gold-iconostases, body section .section-make .byzantine-iconostases {
    vertical-align: top;
    display: inline-block; }
  body section .section-make .wood-iconostases-group1, body section .section-make .wood-iconostases-group2, body section .section-make .gold-iconostases-group1, body section .section-make .gold-iconostases-group2, body section .section-make .gold-iconostases-group3, body section .section-make .baroque-iconostases, body section .section-make .byzantine-iconostases-group1, body section .section-make .byzantine-iconostases-group2 {
    text-align: center; }
    body section .section-make .wood-iconostases-group1 span, body section .section-make .wood-iconostases-group2 span, body section .section-make .gold-iconostases-group1 span, body section .section-make .gold-iconostases-group2 span, body section .section-make .gold-iconostases-group3 span, body section .section-make .baroque-iconostases span, body section .section-make .byzantine-iconostases-group1 span, body section .section-make .byzantine-iconostases-group2 span {
      font-size: 15px; }
  body section .section-make .gold-iconostases-group1 .img1 {
    display: block;
    padding: 25px 0px 0px 0px; }
  body section .section-make .gold-iconostases-group2 {
    padding-top: 25px; }
  body section .section-make .gold-iconostases-group3 .img4 {
    padding-right: 15px; }
  body section .section-make .gold-iconostases-group3 .img5 {
    padding-left: 15px; }
  body section .section-make .byzantine-iconostases-group1 .img1 {
    padding-right: 15px; }
  body section .section-make .byzantine-iconostases-group1 .img2 {
    padding-left: 15px; }
  body section .section-make .byzantine-iconostases-group2 .img3 {
    display: block;
    padding: 25px 0px 0px 0px; }
  body section .section-process .step2-img, body section .section-process .step3, body section .section-process .step4-img {
    padding-bottom: 15px; }
  body section .section-process .step2-img, body section .section-process .step3, body section .section-process .step4-img {
    text-align: center; }
  body section .section-process .step3-img1, body section .section-process .step3-img2 {
    display: inline-block; }
  body section .section-favorites span {
    font-size: 15px; }
  body section .section-favorites .favorites-group1 {
    text-align: center;
    padding-top: 25px; }
    body section .section-favorites .favorites-group1 .img1, body section .section-favorites .favorites-group1 .img2 {
      display: inline-block; }
    body section .section-favorites .favorites-group1 .img1 {
      padding-right: 45px; }
    body section .section-favorites .favorites-group1 .img2 {
      padding-left: 15px; }
  body section .section-favorites .favorites-group2 {
    text-align: center; }
    body section .section-favorites .favorites-group2 .img3 {
      padding-top: 50px; }

@media only screen and (max-width: 1500px) {
  body section .section-favorites .favorites-group1 {
    vertical-align: top; }
    body section .section-favorites .favorites-group1 .favorites-image {
      vertical-align: top; }
      body section .section-favorites .favorites-group1 .favorites-image img {
        width: auto !important;
        height: 500px !important; } }

@media only screen and (max-width: 1300px) {
  body section .section-make .wood-iconostases-group1 .wood-iconostases img {
    width: auto !important;
    height: 400px !important; }
  body section .section-make .wood-iconostases-group2 .wood-iconostases img {
    width: auto !important;
    height: 340px !important; }
  body section .section-make .gold-iconostases-group2 .gold-iconostases img {
    width: auto !important;
    height: 350px !important; }
  body section .section-make .gold-iconostases-group3 .gold-iconostases img {
    width: auto !important;
    height: 280px !important; }
  body section .section-make .byzantine-iconostases-group1 .byzantine-iconostases img {
    width: auto !important;
    height: 265px !important; }
  body section .section-make .byzantine-iconostases-group2 .byzantine-iconostases img {
    width: 700px !important;
    height: auto !important; }
  body section .section-process .step3-img1 img, body section .section-process .step3-img2 img {
    width: auto !important;
    height: 500px !important; }
  body section .section-favorites .favorites-group1 .favorites-image img {
    width: auto !important;
    height: 400px !important; } }

@media only screen and (max-width: 1200px) {
  body section {
    padding: 15px 50px 0px 50px; } }

@media only screen and (max-width: 992px) {
  body section .section-make .wood-iconostases-group1 .wood-iconostases img {
    width: auto !important;
    height: 350px !important; }
  body section .section-make .wood-iconostases-group2 .wood-iconostases img {
    width: auto !important;
    height: 280px !important; }
  body section .section-make .gold-iconostases-group2 .gold-iconostases img {
    width: auto !important;
    height: 290px !important; }
  body section .section-make .gold-iconostases-group3 .img4 {
    padding-right: 0px; }
  body section .section-make .gold-iconostases-group3 .img5 {
    padding-left: 0px; }
  body section .section-make .baroque-iconostases img {
    width: 625px !important;
    height: auto !important; }
  body section .section-make .byzantine-iconostases-group1 .byzantine-iconostases {
    display: block; }
  body section .section-make .byzantine-iconostases-group1 .img1 {
    padding-right: 0px; }
  body section .section-make .byzantine-iconostases-group1 .img2 {
    padding-left: 0px; }
  body section .section-make .byzantine-iconostases-group2 .byzantine-iconostases img {
    width: 600px !important;
    height: auto !important; }
  body section .section-process .step2-img img {
    width: 600px !important;
    height: auto !important; }
  body section .section-process .step3-img1 img, body section .section-process .step3-img2 img {
    width: auto !important;
    height: 460px !important; }
  body section .section-favorites .favorites-group1 .favorites-image img {
    width: auto !important;
    height: 350px !important; }
  body section .section-favorites .favorites-group2 .favorites-image img {
    width: 600px !important;
    height: auto !important; } }

@media only screen and (max-width: 760px) {
  body section {
    padding: 15px 20px 0px 20px; }
    body section .section-make .wood-iconostases-group1 .img2 img, body section .section-make .wood-iconostases-group1 .img4 img, body section .section-make .wood-iconostases-group2 .img2 img, body section .section-make .wood-iconostases-group2 .img4 img {
      width: 300px !important;
      height: auto !important; }
    body section .section-make .gold-iconostases-group1 .img1 img, body section .section-make .gold-iconostases-group1 .img3 img, body section .section-make .gold-iconostases-group1 .img4 img, body section .section-make .gold-iconostases-group1 .img5 img, body section .section-make .gold-iconostases-group2 .img1 img, body section .section-make .gold-iconostases-group2 .img3 img, body section .section-make .gold-iconostases-group2 .img4 img, body section .section-make .gold-iconostases-group2 .img5 img, body section .section-make .gold-iconostases-group3 .img1 img, body section .section-make .gold-iconostases-group3 .img3 img, body section .section-make .gold-iconostases-group3 .img4 img, body section .section-make .gold-iconostases-group3 .img5 img {
      width: 300px !important;
      height: auto !important; }
    body section .section-make .gold-iconostases-group1 .img3, body section .section-make .gold-iconostases-group2 .img3, body section .section-make .gold-iconostases-group3 .img3 {
      padding-top: 25px; }
    body section .section-make .baroque-iconostases img {
      width: 300px !important;
      height: auto !important; }
    body section .section-make .byzantine-iconostases-group1 .img2 img, body section .section-make .byzantine-iconostases-group1 .img3 img, body section .section-make .byzantine-iconostases-group2 .img2 img, body section .section-make .byzantine-iconostases-group2 .img3 img {
      width: 300px !important;
      height: auto !important; }
    body section .section-process .step2-img img {
      width: 300px !important;
      height: auto !important; }
    body section .section-process .step3 .step3-img1 img, body section .section-process .step3 .step3-img2 img {
      width: 300px !important;
      height: auto !important; }
    body section .section-process .step4-img img {
      width: 300px !important;
      height: auto !important; }
    body section .section-favorites .favorites-group1 .img1, body section .section-favorites .favorites-group1 .img2 {
      display: block; }
    body section .section-favorites .favorites-group1 .img1 {
      padding-right: 0px; }
    body section .section-favorites .favorites-group1 .img2 {
      padding-top: 25px;
      padding-left: 0px; }
    body section .section-favorites .favorites-group2 .favorites-image img {
      width: 300px !important;
      height: auto !important; } }

@media only screen and (max-width: 420px) {
  body section .section-make .wood-iconostases-group1 .img2 img, body section .section-make .wood-iconostases-group1 .img4 img, body section .section-make .wood-iconostases-group2 .img2 img, body section .section-make .wood-iconostases-group2 .img4 img {
    width: 250px !important;
    height: auto !important; }
  body section .section-make .gold-iconostases-group1 .img1 img, body section .section-make .gold-iconostases-group1 .img3 img, body section .section-make .gold-iconostases-group1 .img4 img, body section .section-make .gold-iconostases-group1 .img5 img, body section .section-make .gold-iconostases-group2 .img1 img, body section .section-make .gold-iconostases-group2 .img3 img, body section .section-make .gold-iconostases-group2 .img4 img, body section .section-make .gold-iconostases-group2 .img5 img, body section .section-make .gold-iconostases-group3 .img1 img, body section .section-make .gold-iconostases-group3 .img3 img, body section .section-make .gold-iconostases-group3 .img4 img, body section .section-make .gold-iconostases-group3 .img5 img {
    width: 250px !important;
    height: auto !important; }
  body section .section-make .baroque-iconostases img {
    width: 250px !important;
    height: auto !important; }
  body section .section-make .byzantine-iconostases-group1 .img1 img, body section .section-make .byzantine-iconostases-group1 .img2 img, body section .section-make .byzantine-iconostases-group1 .img3 img, body section .section-make .byzantine-iconostases-group2 .img1 img, body section .section-make .byzantine-iconostases-group2 .img2 img, body section .section-make .byzantine-iconostases-group2 .img3 img {
    width: 250px !important;
    height: auto !important; }
  body section .section-process .step2-img img {
    width: 250px !important;
    height: auto !important; }
  body section .section-process .step3 .step3-img1 img, body section .section-process .step3 .step3-img2 img {
    width: 250px !important;
    height: auto !important; }
  body section .section-process .step4-img img {
    width: 250px !important;
    height: auto !important; }
  body section .section-favorites .favorites-group2 .favorites-image img {
    width: 250px !important;
    height: auto !important; } }
