* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

a {
  font-family: 'Arial';
  text-decoration: underline;
  color: #A52A00; }

a:visited {
  color: #8B0000; }

h2 {
  font-family: 'Arial';
  font-size: 19px;
  font-weight: normal;
  color: #000;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-family: 'Arial';
  font-weight: normal;
  font-size: 20px;
  color: #D2B48C; }

p {
  margin-top: 10px;
  padding-bottom: 10px; }

span {
  font-family: 'Arial';
  font-size: 17px;
  color: #000; }

.text-icon {
  font-family: 'Arial';
  font-size: 15px;
  color: #D2B48C; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Times New Roman", sans-serif;
  overflow-x: hidden; }
  body header {
    position: relative; }
    body header .header-top-line {
      width: 100%;
      height: 90px;
      background-color: #1E1E1C;
      padding-top: 25px;
      position: fixed;
      z-index: 3; }
      body header .header-top-line span {
        font-family: 'Arial';
        font-size: 20px;
        color: #D2B48C; }
      body header .header-top-line ul {
        list-style: none; }
        body header .header-top-line ul .mobile {
          display: none; }
        body header .header-top-line ul li:hover ul {
          display: block; }
        body header .header-top-line ul li {
          height: 65px;
          padding-left: 50px;
          display: inline-block;
          position: relative; }
          body header .header-top-line ul li ul:hover {
            display: block; }
          body header .header-top-line ul li ul {
            display: none;
            position: absolute;
            top: 65px; }
            body header .header-top-line ul li ul li {
              left: -55px;
              display: block;
              background-color: #1E1E1C;
              padding: 15px 25px 15px 25px;
              text-align: center; }
          body header .header-top-line ul li a {
            font-family: 'Arial';
            font-size: 20px;
            color: #D2B48C;
            text-decoration: none;
            text-transform: uppercase; }
          body header .header-top-line ul li a:hover {
            color: #fff;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
      body header .header-top-line .items {
        width: 60%;
        display: inline-block; }
        body header .header-top-line .items span {
          text-transform: uppercase; }
      body header .header-top-line .contacts {
        width: 400px;
        margin-left: 15%;
        display: inline-block; }
        body header .header-top-line .contacts span {
          padding-left: 25px; }
    body header .header-content {
      padding-top: 90px; }
      body header .header-content img {
        width: 100%;
        position: relative;
        vertical-align: bottom; }
      body header .header-content .header-name {
        position: absolute;
        top: 450px;
        text-align: center;
        padding-left: 150px;
        z-index: 1; }
        body header .header-content .header-name span {
          line-height: 1.15;
          font-family: 'Times New Roman';
          font-size: 54px;
          color: #fff; }
  body footer {
    background-color: #4B4B4B;
    padding-top: 20px;
    height: 250px;
    width: 100%;
    text-align: center; }
    body footer span {
      color: #fff;
      font-size: 20px; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

::-moz-selection {
  color: #000; }

::selection {
  color: #000; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1700px) {
  body header .header-top-line .items {
    width: 70%; }
  body header .header-top-line .contacts {
    margin-left: 0%; } }

@media only screen and (max-width: 1500px) {
  body header .header-content {
    padding-top: 80px; }
  body header .header-top-line {
    height: 80px; }
    body header .header-top-line span {
      font-size: 15px; }
    body header .header-top-line .contacts {
      width: 350px;
      margin-left: 10%; }
    body header .header-top-line .items {
      width: 60%; }
      body header .header-top-line .items ul li {
        height: 55px;
        padding-left: 25px; }
        body header .header-top-line .items ul li a {
          font-size: 15px; }
        body header .header-top-line .items ul li ul {
          top: 55px; }
          body header .header-top-line .items ul li ul li {
            padding: 10px 15px 10px 15px;
            left: -40px; }
  body header .header-name {
    top: 350px;
    padding-left: 100px; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body header .header-top-line .items {
    width: 70%; }
  body header .header-top-line .contacts {
    width: 300px;
    margin-left: 0%; }
    body header .header-top-line .contacts span {
      padding-left: 10px; }
  body header .header-content {
    padding-top: 80px; }
    body header .header-content .header-name {
      top: 225px;
      padding-left: 50px; }
      body header .header-content .header-name span {
        font-size: 44px; }
      body header .header-content .header-name .bname {
        font-size: 76px !important; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body header .header-top-line {
    text-align: center;
    padding-top: 15px;
    height: 120px; }
    body header .header-top-line .items {
      width: 100%;
      display: block; }
      body header .header-top-line .items ul .mobile {
        display: inline; }
      body header .header-top-line .items ul li {
        height: 35px; }
      body header .header-top-line .items ul li:hover ul {
        display: none; }
    body header .header-top-line .contacts {
      width: 100%;
      margin-left: 0%;
      display: block; }
  body header .header-content {
    padding-top: 120px; }
    body header .header-content .header-name {
      padding-left: 25px; }
      body header .header-content .header-name span {
        font-size: 30px; }
      body header .header-content .header-name .bname {
        font-size: 56px !important; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 760px) {
  body header .header-top-line {
    height: 180px; }
    body header .header-top-line .contacts {
      top: 120px;
      right: 65px; }
  body header .header-content {
    padding-top: 180px; }
    body header .header-content .header-name {
      padding-left: 10px; }
      body header .header-content .header-name span {
        font-size: 20px; }
      body header .header-content .header-name .bname {
        font-size: 36px !important; } }

@media only screen and (max-width: 420px) {
  body header .header-top-line .contacts {
    right: 45px; }
  body header .header-top-line ul li {
    padding-left: 15px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 370px) {
  body header .header-top-line .contacts {
    right: 25px; }
  body header .header-content .header-name {
    top: 210px;
    padding-left: 5px; }
    body header .header-content .header-name span {
      font-size: 15px; }
    body header .header-content .header-name .bname {
      font-size: 25px !important; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
